@media (min-width: 0px) {
body {
	margin: 0;
	padding: 0;
	color: black;
	font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: #ffffff !important;
		.MuiContainer-maxWidthLg {
			max-width: 2000px;
			&.MuiContainer-root {
				padding: 0;
				margin: 0;
				.header {
					margin-top: 0;
					padding: 12px 25px;
					box-sizing: border-box;
				}
				.box {
					margin: 0;
					padding: 0;
				}
				.MuiPaper-elevation4 {
					box-shadow: none;
				}
				.gNotes {
					padding-left: 15px;
					padding-top: 9px;
					min-height: 50px !important;
					background-color: #fafafa !important;
				}
				.MuiTypography-displayBlock {
					display: block;
					word-wrap: break-word;
				}
				.MuiToolbar-regular {
					min-height: 50px;
					background-color: #fafafa;
                }
				.makeStyles-content-15 {
					background-color: #ffffff;
				}
				.MuiListItem-root {
					display: block;
				}
				.MuiFormControl-root {
					width: 100%;
					.MuiOutlinedInput-input {
						padding: 8px 14px;
					}
				}
				.MuiButton-outlined {
					padding: 5px 9px;
					text-transform: capitalize;
				}
				.currentUser {
					width: 100%;
                    text-align: right;
                    .MuiSvgIcon-root {
                        vertical-align: middle;
                    }
				}
				.logOutIcon:hover {cursor: pointer}
				.MuiSvgIcon-fontSizeSmall {
					font-size: 14px;
					font-weight: bold;
					position: absolute !important;
					top: 5px;
					right: 3px;
					&.hide{
						display:none;
					}
				}
				.MuiList-padding {
					padding-top: 0px;
				}
				.MuiDrawer-paperAnchorDockedLeft {
					border:none;
					
				}
				main {
					border-left: 1px solid rgba(0, 0, 0, 0.12);
				}
			}
		}
		.PageNotFound {
			text-align: center;
		}
	}
}

@media (min-width: 0px) and (orientation: landscape),
(orientation: portrait) {
	.gNotes {
		padding-left: 15px;
		padding-top: 9px;
		min-height: 50px !important;
		background-color: #fafafa;
	}
	.MuiListItem-root {
		display: inline-block !important;
	}
	.MuiSvgIcon-fontSizeSmall {
		font-size: 14px;
		font-weight: bold;
		position: absolute !important;
		top: 15px;
		right: 16px;
	}
	.MuiList-padding {
		padding-top: 0 !important;
	}
}
@media (min-width: 600px) {
	.gNotes{
		padding-left: 15px;
		padding-top: 9px;
		min-height: 50px !important;
		background-color: #fafafa;
	}
}